.staff-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.staff-topbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
}

.staff-topbar .h-logo {
  height: 40px;
  margin-right: 20px;
}

.staff-nav {
  display: flex;
  gap: 12px;
}

.staff-nav button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.staff-nav .active {
  border-bottom: 2px solid white;
}

.staff-content {
  flex: 1;
  padding: 30px 40px;
  background-color: #f4f6f8;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.widget-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.user-info {
  font-size: 18px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.blue-btn {
  background-color: #0b4c8a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blue-btn:hover {
  background-color: #207acf;
}
.form-header {
    justify-content: space-between;
}
.form-header .btn-close {
    margin: 0;
}

.custom-toast{
    width: fit-content;
    padding: 5px 10px;
}
.custom-toast .btn-close{
  margin: auto 0;
}
.toast-wrapper {
    position: fixed;
    z-index: 1055;
    top: 0;
    right: 0px;
    margin: 20px;
    border: 3px solid #fff;
    border-radius: 8px;
}
.toast-body {
    font-size: 15px;
    font-weight: 600 !important;
}

.modal-wrapper{
  max-width: 800px;
}
.form-area .form-label {
    padding: 0 5px;
    margin-top: 20px;
}