.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  padding: 20px;
}

.forgot-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logo-head {
  max-width: 90%; /* Adjust logo size to fit nicely */
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  /* Space below the logo */
}
.forgot-title {
  margin-bottom: 30px;
  text-align: center;
  color: #45a049;
  font-size: 1.5rem;
}

.forgot-label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.forgot-input {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.forgot-btn {
  width: 100%;
  padding: 10px;
  background-color: #45a049;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-btn:hover {
  background-color: #2d7230;
}

.forgot-msg {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  text-align: center;
}

.forgot-msg.success {
  background-color: #d1fae5;
  color: #065f46;
}

.forgot-msg.error {
  background-color: #fee2e2;
  color: #991b1b;
}
